@import "tailwindcss";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../packages/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";
@source "./**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@custom-variant h-sm (@media (height >= 40rem));
@custom-variant h-md (@media (height >= 48rem));
@custom-variant h-lg (@media (height >= 64rem));

body {
  overflow: hidden;
}

.theme-custom {
  /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: #0582ca;

  --background: 215 61.75% 3.28%;
  --foreground: 215 9.5% 97.05%;

  --muted: 215 47.5% 12.299999999999999%;
  --muted-foreground: 215 9.5% 54.1%;

  --popover: 215 46% 5.33%;
  --popover-foreground: 215 9.5% 97.05%;

  --card: 215 46% 5.33%;
  --card-foreground: 215 9.5% 97.05%;

  --border: 215 47.5% 12.299999999999999%;
  --input: 215 47.5% 12.299999999999999%;

  --primary: 215 95% 41%;
  --primary-foreground: 215 9.5% 97.05%;

  --secondary: 215 47.5% 12.299999999999999%;
  --secondary-foreground: 215 9.5% 97.05%;

  --accent: 215 47.5% 12.299999999999999%;
  --accent-foreground: 215 9.5% 97.05%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 215 9.5% 97.05%;

  --ring: 215 95% 41%;
}

@layer base {
  :root {
    --background: hsl(334 62% 100%);
    --foreground: hsl(334 55% 1%);
    --muted: hsl(334 35% 95%);
    --muted-foreground: hsl(334 9% 37%);
    --popover: hsl(334 62% 100%);
    --popover-foreground: hsl(334 55% 1%);
    --card: hsl(334 62% 100%);
    --card-foreground: hsl(334 55% 1%);
    --border: hsl(334 5% 95%);
    --input: hsl(334 5% 95%);
    --primary: hsl(334 44% 52%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(334 11% 90%);
    --secondary-foreground: hsl(334 11% 30%);
    --accent: hsl(334 20% 82%);
    --accent-foreground: hsl(334 20% 22%);
    --destructive: hsl(18 93% 23%);
    --destructive-foreground: hsl(18 93% 83%);
    --ring: hsl(334 44% 52%);
    --chart-1: hsl(334 44% 52%);
    --chart-2: hsl(334 11% 90%);
    --chart-3: hsl(334 20% 82%);
    --chart-4: hsl(334 11% 93%);
    --chart-5: hsl(334 47% 52%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(217.5 9.09% 17.25%);
    --foreground: hsl(334 34% 98%);
    --muted: hsl(210 9.09% 12.94%);
    --muted-foreground: hsl(334 0% 60.77%);
    --popover: hsl(210 9.09% 12.94%);
    --popover-foreground: hsl(334 34% 98%);
    --card: hsl(210 9.09% 12.94%);
    --card-foreground: hsl(334 34% 98%);
    --border: hsl(334 0% 18.46%);
    --input: hsl(214.29 5.04% 27.25%);
    --primary: #0582ca;
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(214.29 5.04% 27.25%);
    --secondary-foreground: hsl(334 0% 100%);
    --accent: hsl(217.5 9.09% 17.25%);
    --accent-foreground: hsl(226.73 58.43% 65.1%);
    --destructive: #e75a7c;
    --destructive-foreground: hsl(0 0% 0%);
    --ring: hsl(217.5 9.09% 17.25%);
    --chart-1: hsl(226.73 58.43% 65.1%);
    --chart-2: hsl(214.29 5.04% 27.25%);
    --chart-3: hsl(217.5 9.09% 17.25%);
    --chart-4: hsl(214.29 5.04% 30.25%);
    --chart-5: hsl(226.73 61.43% 65.1%);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
